[v-cloak] {
  display: none;
}
body {
  font-family: 'Roboto', serif;
  font-size: 13px;
  font-weight: 300;
}
h1 {
  font-size: 24px;
}
h2.subpage-head {
  font-size: 18px;
}
h4.spb_heading {
  font-weight: normal;
  margin-top: 0;
  border-bottom: 2px solid transparent;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}
h4.spb_heading:before {
  content: "";
  display: block;
  border-top: 2px solid #444;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
h4.spb_heading span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
  text-transform: uppercase;
}
h4.lined-heading {
  font-weight: normal;
  margin-top: 0;
  border-bottom: 2px solid transparent;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}
h4.lined-heading:before {
  content: "";
  display: block;
  border-top: 2px solid #444;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
header {
  font-weight: 300;
}
.btn {
  border-radius: 2px;
}
.top-head {
  background-color: #333;
  color: #BBB;
  padding: 3px 0;
  text-align: center;
  font-weight: 400;
}
.form-control {
  border-radius: 2px;
}
.form-control:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group-addon {
  border-radius: 2px;
}
.top-nav {
  padding: 25px 0;
  line-height: 40px;
}
.top-nav .small-menu {
  text-align: right;
}
.top-nav .small-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-nav .small-menu ul li {
  display: inline;
  border-right: 1px solid #ddd;
  padding: 0 10px;
  color: #666;
}
.top-nav .small-menu ul li:last-child {
  padding-right: 0;
  border-right: 0;
}
.top-nav .small-menu ul li a {
  text-decoration: none;
  color: #666;
}
.heading-text {
  float: left;
  padding: 5px 0px;
}
.entry-title {
  margin: 0;
  padding: 0;
}
.navbar {
  border: 0;
  min-height: auto;
  margin-bottom: 0;
}
.navbar-default {
  background-color: #fff;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
.navbar-default .navbar-nav > li > a {
  color: #666;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #000 !important;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #000 !important;
}
.navbar-nav > li > a {
  padding: 10px 15px;
  line-height: 20px;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 1px;
  border-top: transparent;
}
.dropdown-menu {
  font-size: 13px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
  font-weight: 300;
  padding: 7px 14px;
}
.navbar-form {
  padding: 0;
  margin: 3px 0;
}
.navbar-form .form-control {
  border-radius: 0;
  padding: 5px 0 5px 10px;
  background: transparent;
  border: 0;
  font-size: 13px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-form .input-group-addon {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 6px 15px;
}
.btn-cart {
  padding: 7px 15px;
  cursor: pointer;
}
.btn-cart a {
  text-decoration: none;
  color: #333;
}
ul.nav-cart li a {
  color: #000 !important;
  font-weight: 500;
}
.navbar-toggle {
  border-radius: 2px;
}
.page-head {
  background-image: url(../img/head_bg.png);
  background-repeat: repeat;
  background-position: center top;
  background-size: auto;
  background-color: #FFFFFF;
  border-bottom: 1px solid #e4e4e4;
  padding: 25px 0;
  text-align: left;
}
#breadcrumbs {
  font-size: 11px;
  line-height: 22px;
  margin: 0;
  padding: 8px 10px 6px;
  float: right;
  white-space: nowrap;
  -moz-border-radius: 1px 4px 4px 4px;
  -webkit-border-radius: 1px 4px 4px 4px;
  border-radius: 1px 4px 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
}
#breadcrumbs a {
  text-decoration: none;
  color: #555;
}
#breadcrumbs i {
  padding: 0 5px;
  color: #aaa;
}
.widget_breadcrumb_navxt i {
  padding: 0 5px;
  color: #aaa;
}
.well {
  border-radius: 2px;
}
.main-wrap {
  margin: 25px 0 50px 0;
  min-height: 250px;
}
.promote-product {
  margin: 0 50px;
}
.promote-product img {
  width: 100%;
}
.promote-product h3.title {
  font-size: 22px;
  text-transform: uppercase;
}
.promote-product p.desc {
  font-size: 16px;
}
.promote-product .price {
  padding-bottom: 7px;
}
.promote-product .price .pr-before {
  text-decoration: line-through;
  color: #333;
  font-size: 14px;
  margin-right: 5px;
}
.promote-product .price .pr-after {
  color: #ff460b;
  font-size: 18px;
  font-weight: bold;
}
footer {
  background: #252525;
  color: #fff;
  padding: 40px 0;
}
footer h4.spb_heading span {
  background: #252525;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
footer .description {
  margin: 0;
  padding: 5px 0 0;
}
ul.social-foot {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.social-foot li {
  display: inline;
  font-size: 30px;
  margin-right: 10px;
}
ul.social-foot li:last-child {
  margin-right: 0;
}
ul.bank-foot {
  list-style: none;
  margin: -5px 0 0;
  padding: 0;
}
ul.bank-foot li {
  display: inline;
  font-size: 30px;
  margin-right: 10px;
  height: 20px;
}
ul.bank-foot li:last-child {
  margin-right: 0;
}
ul.bank-foot li img {
  height: 20px;
}
ul.nav-foot {
  list-style: none;
  margin: 0px 0 0 0;
  padding: 5px 0 0 0;
}
ul.nav-foot li {
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
  margin-bottom: 5px;
}
ul.nav-foot li .link {
  float: right;
}
ul.nav-foot a li {
  color: #fff;
  font-weight: 400;
}
ul.nav-foot a:hover li {
  color: #00aeb7;
}
.external-logo {
  float: left;
  margin-bottom: 10px;
  text-align: left;
  padding-top: 5px;
}
.external-logo .external-logo-title {
  font-size: 11px;
  font-weight: normal;
  line-height: 1.1em;
  display: block;
  float: left;
  width: 76px;
  height: 24px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #ccc;
}
.external-logo .external-logo-lists {
  display: inline-block;
  margin-bottom: 0;
}
.external-logo .external-logo-lists .external-logo--list {
  display: block;
}
.external-logo .external-logo-lists .external-logo--list i {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}
.external-logo .external-logo-lists .external-logo--list img {
  height: 24px;
  margin-right: 5px;
  border-radius: 3px;
}
.copyright {
  padding: 10px 0;
  background: #000000;
  color: #fff;
}
.copyright a {
  color: #fff;
}
.copyright a:hover {
  color: #00aeb7;
}
.product-list {
  margin-bottom: 30px;
}
.product-list a {
  color: #333;
}
.product-list .pro-img {
  background-color: #f5f5f5;
  position: relative;
  min-height: 300px;
  max-height: 300px;
  /*box-shadow: 0 7px 6px -7px #999;*/
}
.product-list .pro-img img {
  max-width: 100%;
  max-height: 300px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.product-list .pro-img .pro-disc {
  background: #ff5020;
  color: #fff;
  padding: 5px 5px 5px 10px;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  z-index: 999;
  border-bottom-left-radius: 5px;
}
.product-list .pro-caption {
  margin-top: 10px;
}
.product-list .pro-caption .title {
  font-weight: bold;
  margin: 0 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-list .pro-caption .price .before {
  text-decoration: line-through;
}
.product-list .pro-caption .price .after {
  color: #ff460b;
  font-weight: bold;
}
.product-detail .pro-caption .offer .price {
  color: #ff460b;
  font-weight: bold;
  font-size: 22px;
}
.product-detail .pro-caption .offer .price-before {
  font-size: 20px;
  text-decoration: line-through;
}
.product-detail .pro-caption .offer .price-after {
  color: #ff460b;
  font-weight: bold;
  font-size: 24px;
}
.product-detail .pro-caption .offer-detail {
  margin-top: 15px;
  font-size: 14px;
}
.product-detail .pro-caption .description .title {
  color: #777;
  font-weight: 500;
  margin-bottom: 15px;
}
.product-detail .pro-caption .description .content {
  font-size: 14px;
  line-height: 17pt;
}
.product-detail .pro-caption .description .aditional {
  margin-bottom: 0;
}
.product-detail .pro-caption .description .aditional .list-group-item {
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0;
  border-right: none;
  border-left: none;
}
.product-detail .pro-caption .description .aditional .list-group-item > .info {
  font-weight: 300;
  float: right;
}
.product-detail .pro-caption .description .aditional .list-group-item:first-child {
  border-top: none;
}
.product-detail .pro-caption .description .aditional .list-group-item:last-child {
  border-bottom: none;
}
.product-detail .share-product i.fa {
  cursor: pointer;
  font-size: 24px;
  margin-right: 5px;
}
.product-detail .share-product i.fa:last-child {
  margin-right: 0;
}
.product-detail .well-cart-sm {
  background-color: #e4e4e4;
  margin: 0 0 20px;
  border-radius: 2px;
}
.product-detail .well-cart-sm label {
  width: 100%;
  padding: 10px 19px;
  margin: 0;
  cursor: pointer;
}
.product-detail .well-cart-sm #cartTable {
  color: #555;
}
.product-detail .well-cart-lg well {
  background-color: #e4e4e4;
  color: #555;
}
.product-detail .separator15 {
  margin: 5px 0 15px;
}
.product-detail well {
  border-radius: 2px;
}
.product-description .title {
  color: #777;
  font-weight: 500;
  margin-bottom: 15px;
}
.product-description .content {
  font-size: 14px;
  line-height: 17pt;
}
.modalCartConfirm .modal-dialog {
  width: 400px;
}
.modalCartConfirm .modal-dialog .modal-content {
  border-radius: 2px;
  box-shadow: none;
}
.modalCartConfirm .modal-header {
  padding: 10px 15px;
}
.modalCartConfirm .modal-header .close {
  margin-top: 2px;
}
.modalCartConfirm .modal-body label {
  font-weight: 300;
  color: #999;
}
.modalCartConfirm .modal-body .product-name {
  font-size: 14px;
}
.modalCartConfirm .modal-body .product-price {
  padding: 9px 0;
  font-size: 16px;
  font-weight: 500;
}
.modalCartConfirm .modal-body textarea {
  min-height: 100px;
  border-radius: 2px;
}
.modalCartConfirm .modal-body textarea:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modalCartConfirm .modal-body input:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modalCartConfirm .modal-footer {
  text-align: center;
}
.modalCartConfirm .modal-footer .btn {
  width: 100%;
}
.fotorama__wrap {
  margin: 0 auto !important;
}
.fotorama__stage__frame.fotorama__active {
  background-color: #E9E9E9;
}
.alert {
  padding: 15px 20px;
}
.alert a {
  font-weight: 500;
}
table.cart-checkout tr {
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DDD;
}
table.cart-checkout tr:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
table.cart-checkout td.w-img {
  width: 12%;
}
table.cart-checkout td.w-img img {
  width: 100%;
  border: 1px solid #CCC;
}
table.cart-checkout td.w-det {
  width: 70%;
  padding: 0 15px;
  font-size: 12px;
}
table.cart-checkout td.w-det .w-tit {
  font-size: 16px;
}
table.cart-checkout td.w-det span.action {
  cursor: pointer;
}
table.cart-checkout td.w-prc {
  width: 18%;
  font-size: 14px;
  text-align: right;
}
div.orSepat {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  position: relative;
  margin: 7px 0;
}
div.orSepat:before {
  content: "";
  display: block;
  border-top: 1px solid #aaa;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
div.orSepat span {
  background: #fff;
  color: #aaa;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.spinner {
  width: 100%;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 2px;
  background: #F7F7F7;
}
.spinner input {
  text-align: right;
  background: #F7F7F7;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  padding: 5px;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 12px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  border: 1px solid #F7F7F7;
  background: #F7F7F7;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 2px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 2px;
}
.input-group-btn-vertical i {
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: 10px;
  color: #777;
}
.alert {
  border-radius: 2px;
  padding: 10px 15px;
}
.lSAction > a {
  width: 28px;
  display: block;
  top: 45%;
  height: 30px;
  background-image: none;
}
.lSAction > .lSNext {
  background-image: url('img/showcase-nav.png');
  width: 36px;
  height: 36px;
  background-position: 36px;
}
.lSAction > .lSPrev {
  background-image: url('img/showcase-nav.png');
  width: 36px;
  height: 36px;
  background-position: 0;
}
.owl-carousel .res-img {
  background-color: #f5f5f5;
  position: relative;
  min-height: 250px;
  max-height: 250px;
}
.owl-carousel .res-img .pro-disc {
  background: #ff5020;
  color: #fff;
  padding: 5px 5px 5px 10px;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  z-index: 999;
  border-bottom-left-radius: 5px;
}
.owl-carousel .res-img img {
  width: auto !important;
  max-width: 100%;
  max-height: 250px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.owl-carousel .product-caption {
  margin-top: 10px;
}
.owl-carousel .product-caption strong {
  font-size: 14px;
}
a.product-caption {
  color: #333;
}
.checkout-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fafbfa;
}
.checkout {
  background-color: #fff;
  border: 0;
  font-size: 14px;
}
.panel {
  margin-bottom: 0px;
}
.checkout-step {
  border-top: 1px solid #f2f2f2;
  color: #666;
  font-size: 14px;
  padding: 30px;
  position: relative;
}
.checkout-step-number {
  border-radius: 50%;
  border: 1px solid #666;
  display: inline-block;
  font-size: 12px;
  height: 32px;
  margin-right: 26px;
  padding: 6px;
  text-align: center;
  width: 32px;
}
.checkout-step-title {
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
  display: inline-block;
  margin: 0px;
}
.checout-address-step .form-group {
  margin-bottom: 18px;
  display: inline-block;
  width: 100%;
}
.checkout-step-body {
  padding-left: 0;
  padding-top: 20px;
}
.checkout-step-active {
  display: block;
}
.checkout-step-disabled {
  display: none;
}
.login-phone {
  display: inline-block;
}
.login-phone:after {
  content: '+91 - ';
  font-size: 14px;
  left: 36px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login-phone:before {
  content: "";
  font-style: normal;
  color: #333;
  font-size: 18px;
  left: 12px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login-phone .form-control {
  padding-left: 68px;
  font-size: 14px;
}
.checkout-login .btn {
  height: 42px;
  line-height: 1.8;
}
.otp-verifaction {
  margin-top: 30px;
}
.checkout-sidebar {
  background-color: #fff;
  border: 1px solid #eaefe9;
  padding: 30px;
  margin-bottom: 30px;
}
.checkout-sidebar-merchant-box {
  background-color: #fff;
  border: 1px solid #eaefe9;
  margin-bottom: 30px;
}
.checkout-total {
  border-bottom: 1px solid #eaefe9;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.checkout-invoice {
  display: inline-block;
  width: 100%;
}
.checout-invoice-title {
  float: left;
  color: #30322f;
}
.checout-invoice-price {
  float: right;
  color: #30322f;
}
.checkout-charges {
  display: inline-block;
  width: 100%;
}
.checout-charges-title {
  float: left;
}
.checout-charges-price {
  float: right;
}
.charges-free {
  color: #43b02a;
  font-weight: 600;
}
.checkout-payable {
  display: inline-block;
  width: 100%;
  color: #333;
}
.checkout-payable-title {
  float: left;
}
.checkout-payable-price {
  float: right;
}
.checkout-cart-merchant-box {
  padding: 20px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #eaefe9;
  padding-bottom: 20px;
}
.checkout-cart-merchant-name {
  color: #30322f;
  float: left;
}
.checkout-cart-merchant-item {
  float: right;
  color: #30322f;
}
.checkout-cart-products .checkout-charges {
  padding: 10px 20px;
  color: #333;
}
.checkout-cart-item {
  border-bottom: 1px solid #eaefe9;
  box-sizing: border-box;
  display: table;
  font-size: 12px;
  padding: 22px 20px;
  width: 100%;
}
.checkout-item-count {
  float: left;
}
.checkout-item-img {
  width: 60px;
  float: left;
}
.checkout-item-name-box {
  float: left;
}
.checkout-item-title {
  color: #30322f;
  font-size: 14px;
}
.checkout-item-price {
  float: right;
  color: #30322f;
  font-size: 14px;
  font-weight: 600;
}
.checkout-viewmore-btn {
  padding: 10px;
  text-align: center;
}
.header-checkout-item {
  text-align: right;
  padding-top: 20px;
}
.checkout-promise-item {
  background-repeat: no-repeat;
  background-size: 14px;
  display: inline-block;
  margin-left: 20px;
  padding-left: 24px;
  color: #30322f;
}
.checkout-promise-item i {
  padding-right: 10px;
  color: #43b02a;
}
.form-input-track {
  width: 40%;
  margin: 0 auto;
}
table.tb-pricing {
  width: 100%;
  padding: 0 15px;
}
table.tb-pricing tbody {
  font-size: 14px;
}
table.tb-pricing tbody tr td.st-title {
  padding-left: 1.4em;
}
table.tb-pricing tbody tr td.st-price {
  text-align: right;
  font-weight: 400;
  padding-right: 1.4em;
}
table.tb-pricing tbody tr td.bk-title {
  padding: 0.5em 0 1em 1.4em;
}
table.tb-pricing tbody tr td.bk-price {
  text-align: right;
  font-weight: 400;
  padding: 0.5em 1.4em 1em 0;
}
table.tb-pricing tfoot {
  font-size: 16px;
  border-top: 1px solid #CCC;
}
table.tb-pricing tfoot td.tp-title {
  padding: 1em 0 0 1.2em;
  font-weight: 500;
}
table.tb-pricing tfoot td.tp-price {
  text-align: right;
  font-weight: 500;
  padding: 1em 1.2em 0 0;
  color: #f8941f;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.marginR3 {
  margin-right: 3px;
}
.marginR7 {
  margin-right: 7px;
}
.space10 {
  margin: 10px 0;
}
.space20 {
  margin: 20px 0;
}
.space30 {
  margin: 30px 0;
}
.space40 {
  margin: 40px 0;
}
.space50 {
  margin: 50px 0;
}
.space70 {
  margin: 70px 0;
}
.space100 {
  margin: 100px 0;
}
.font11 {
  font-size: 11px;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.badge.cart-count {
  padding: 3px 10px;
  font-weight: 500;
  background-color: #ff5020;
}
.featured-promo {
  text-align: center;
}
.featured-promo p {
  margin: 0;
}
.btn-nowidth {
  min-width: 0 !important;
}
.btn-main {
  font-family: 'Asap Condensed';
  text-transform: uppercase;
  background-color: #333;
  color: #fff;
  border-radius: 2px;
  min-width: 170px;
  font-size: 14px;
}
.btn-main i {
  margin-right: 10px;
}
.btn-main i.right {
  margin-left: 10px;
  margin-right: 0 !important;
}
.btn-main:hover {
  background-color: #444;
  color: #fff;
}
.btn-main:focus {
  background-color: #444;
  color: #fff;
}
.btn-wow {
  font-family: 'Asap Condensed';
  text-transform: uppercase;
  background-color: #ff5722;
  color: #fff;
  border-radius: 2px;
  min-width: 170px;
  font-size: 14px;
}
.btn-wow i {
  color: yellow;
  margin-right: 10px;
}
.btn-wow i.right {
  margin-left: 10px;
  margin-right: 0 !important;
}
.btn-wow:hover {
  background-color: #cc3c0e;
  color: #fff;
}
.btn-wow:focus {
  background-color: #cc3c0e;
  color: #fff;
}
.btn-whatsapp {
  font-family: 'Asap Condensed';
  text-transform: uppercase;
  background-color: #549854;
  color: #fff;
  border-radius: 2px;
  min-width: 170px;
  font-size: 14px;
}
.btn-whatsapp i {
  margin-right: 10px;
}
.btn-whatsapp:hover {
  background-color: #277927;
  color: #fff;
}
.btn-whatsapp:focus {
  background-color: #277927;
  color: #fff;
}
.btn-bbm {
  font-family: 'Asap Condensed';
  text-transform: uppercase;
  background-color: #549854;
  color: #fff;
  border-radius: 2px;
  min-width: 170px;
  font-size: 14px;
}
.btn-bbm i {
  margin-right: 10px;
}
.btn-bbm:hover {
  background-color: #277927;
  color: #fff;
}
.btn-bbm:focus {
  background-color: #277927;
  color: #fff;
}
@media (max-width: 321px) {
  .product-list .pro-img {
    min-height: 150px !important;
    max-height: 150px !important;
  }
  .product-list .pro-img img {
    max-width: 100%;
    max-height: 150px !important;
  }
  .product-list .pro-caption .price {
    font-size: 11px !important;
  }
  .product-list .pro-caption .price .before {
    display: none;
  }
  .product-list .pro-caption .title {
    font-size: 11px !important;
  }
  table.cart-checkout td.w-det .w-tit {
    font-size: 12px !important;
  }
}
@media (min-width: 320px) {
  .modalCartConfirm .modal-dialog {
    width: 300px;
    margin: 10px auto;
  }
}
@media (min-width: 375px) {
  .modalCartConfirm .modal-dialog {
    width: 346px;
    margin: 10px auto;
  }
}
@media (max-width: 376px) {
  table.tb-pricing tbody {
    font-size: 13px;
  }
  table.tb-pricing tbody tr td.st-title {
    padding-left: 1.2em;
  }
  table.tb-pricing tbody tr td.st-price {
    padding-right: 1.2em;
  }
  table.tb-pricing tbody tr td.bk-title {
    padding: 0.5em 0 1em 1.2em;
  }
  table.tb-pricing tbody tr td.bk-price {
    padding: 0.5em 1.2em 1em 0;
  }
  table.tb-pricing tfoot {
    font-size: 13px;
  }
}
@media (max-width: 426px) {
  h1.entry-title {
    font-size: 18px;
  }
  .modalCartConfirm .modal-body label {
    font-size: 10px;
  }
  .top-nav {
    padding: 10px 0;
  }
  .navbar-form {
    border-top: none;
  }
  .form-input-track {
    width: 100% !important;
  }
  .product-list .pro-img {
    min-height: 200px;
    max-height: 200px;
  }
  .product-list .pro-img img {
    max-width: 100%;
    max-height: 200px;
  }
  .product-list .pro-caption .title {
    font-size: 12px;
  }
  .product-list .pro-caption .price {
    font-size: 12px;
  }
  table.cart-checkout td.w-det .w-tit {
    font-size: 14px;
  }
  .product-detail .pro-caption .offer .price {
    font-size: 22px;
  }
  .product-detail .pro-caption .offer .price-before {
    font-size: 18px;
  }
  .product-detail .pro-caption .offer .price-after {
    font-size: 22px;
  }
  .owl-carousel .res-img {
    min-height: 170px;
    max-height: 170px;
  }
  .owl-carousel .res-img img {
    max-height: 170px;
  }
}
@media (min-width: 425px) {
  .modalCartConfirm .modal-dialog {
    width: 400px;
    margin: 10px auto;
  }
}
@media (max-width: 768px) {
  body {
    margin-bottom: 40px;
  }
  #breadcrumbs {
    display: none;
  }
  .top-nav .small-logo {
    text-align: center !important;
  }
  .top-nav .small-menu {
    text-align: center !important;
  }
  .head-result-count {
    margin-bottom: 15px;
    text-align: center;
  }
  .btn-main {
    min-width: 100%;
  }
  .form-input-track {
    width: 80%;
  }
  .external-logo {
    float: none;
    text-align: center;
  }
  .external-logo .external-logo-title {
    float: none;
    width: 100%;
  }
  .external-logo .external-logo-lists {
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
  .navbar {
    border-radius: 0;
  }
  .navbar-collapse {
    padding: 0;
  }
  .navbar-right .dropdown-cart {
    right: -1px;
    left: auto;
    margin-top: 1px !important;
    border-top: 1px;
  }
  .nav-cart {
    border-right: 1px solid #dedede;
  }
  .head-result-count {
    margin-top: 7px;
  }
  .product-list .pro-caption .title {
    font-size: 14px;
  }
  .product-list .pro-caption .price {
    font-size: 14px;
  }
}
