@color_1: #BBB;
@color_2: #666;
@color_3: #000;
@color_4: #333;
@color_5: #555;
@color_6: #aaa;
@color_7: #ff460b;
@color_8: #fff;
@color_10: #00aeb7;
@color_11: #777;
@color_12: #999;
@color_13: #30322f;
@color_14: #43b02a;
@color_15: #f8941f;
@color_16: yellow;
@font_roboto: 'Roboto', serif;
@font_asap: 'Asap Condensed';
@font_size_13: 13px;
@font_size_12: 12px;
@background_color_1: #333;
@background_color_2: #fff;
@background_color_3: transparent;
@background_color_4: #f3f3f3;
@background_color_5: #FFFFFF;
@background_color_6: #fefefe;
@background_color_7: #f5f5f5;
@background_color_8: #fafbfa;
@background_color_9: #ff5020;
@background_color_10: #444;
@background_color_11: #ff5722;
@background_color_12: #cc3c0e;
@background_color_13: #549854;
@background_color_14: #277927;
@border_color_1: inherit;
[v-cloak] {
  display: none;
}
body {
	font-family: @font_roboto;
	font-size: @font_size_13;
	font-weight: 300;
}
h1 {
	font-size: 24px;
}
h2.subpage-head {
	font-size: 18px;
}
h4.spb_heading {
	font-weight: normal;
	margin-top: 0;
	border-bottom: 2px solid transparent;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	font-size: 15px;
	&:before {
		content: "";
		display: block;
		border-top: 2px solid #444;
		width: 100%;
		height: 2px;
		position: absolute;
		top: 50%;
		z-index: 1;
	}
	span {
		background: #fff;
		padding: 0 10px;
		position: relative;
		display: inline-block;
		z-index: 1;
		text-transform: uppercase;
	}
}
h4.lined-heading {
	font-weight: normal;
	margin-top: 0;
	border-bottom: 2px solid transparent;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	font-size: 15px;
	&:before {
		content: "";
		display: block;
		border-top: 2px solid #444;
		width: 100%;
		height: 2px;
		position: absolute;
		top: 50%;
		z-index: 1;
	}
}
header {
	font-weight: 300;
}
.btn {
	border-radius: 2px;
}
.top-head {
	background-color: @background_color_1;
	color: @color_1;
	padding: 3px 0;
	text-align: center;
	font-weight: 400;
}
.form-control {
	border-radius: 2px;
	&:focus {
		outline: none;
		border-color: @border_color_1;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.input-group-addon {
	border-radius: 2px;
}
.top-nav {
	padding: 25px 0;
	line-height: 40px;
	.small-menu {
		text-align: right;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: inline;
				border-right: 1px solid #ddd;
				padding: 0 10px;
				color: @color_2;
				&:last-child {
					padding-right: 0;
					border-right: 0;
				}
				a {
					text-decoration: none;
					color: @color_2;
				}
			}
		}
	}
}
.heading-text {
	float: left;
	padding: 5px 0px;
}
.entry-title {
	margin: 0;
	padding: 0;
}
.navbar {
	border: 0;
	min-height: auto;
	margin-bottom: 0;
}
.navbar-default {
	background-color: @background_color_2;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	.navbar-nav {
		>li {
			>a {
				color: @color_2;
				&:focus {
					color: @color_3 !important;
				}
				&:hover {
					color: @color_3 !important;
				}
			}
		}
	}
}
.navbar-nav {
	>li {
		>a {
			padding: 10px 15px;
			line-height: 20px;
		}
		>.dropdown-menu {
			margin-top: 1px;
			border-top: transparent;
		}
	}
}
.dropdown-menu {
	font-size: @font_size_13;
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.175);
	>li {
		>a {
			font-weight: 300;
			padding: 7px 14px;
		}
	}
}
.navbar-form {
	padding: 0;
	margin: 3px 0;
	.form-control {
		border-radius: 0;
		padding: 5px 0 5px 10px;
		background: transparent;
		border: 0;
		font-size: @font_size_13;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.input-group-addon {
		background-color: @background_color_3;
		border: 0;
		border-radius: 0;
		padding: 6px 15px;
	}
}
.btn-cart {
	padding: 7px 15px;
	cursor: pointer;
	a {
		text-decoration: none;
		color: @color_4;
	}
}
ul.nav-cart {
	li {
		a {
			color: @color_3 !important;
			font-weight: 500;
		}
	}
}
.navbar-toggle {
	border-radius: 2px;
}
.page-head {
	background-image: url(../img/head_bg.png);
	background-repeat: repeat;
	background-position: center top;
	background-size: auto;
	background-color: @background_color_5;
	border-bottom: 1px solid #e4e4e4;
	padding: 25px 0;
	text-align: left;
}
#breadcrumbs {
	font-size: 11px;
	line-height: 22px;
	margin: 0;
	padding: 8px 10px 6px;
	float: right;
	white-space: nowrap;
	-moz-border-radius: 4px / 4px 4px 4px 4px;
	-webkit-border-radius: 4px / 4px 4px 4px 4px;
	border-radius: 4px / 4px 4px 4px 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	background-color: @background_color_6;
	a {
		text-decoration: none;
		color: @color_5;
	}
	i {
		padding: 0 5px;
		color: @color_6;
	}
}
.widget_breadcrumb_navxt {
	i {
		padding: 0 5px;
		color: @color_6;
	}
}
.well {
	border-radius: 2px;
}
.main-wrap {
	margin: 25px 0 50px 0;
	min-height: 250px;
}
.promote-product {
	margin: 0 50px;
	img {
		width: 100%;
	}
	h3.title {
		font-size: 22px;
		text-transform: uppercase;
	}
	p.desc {
		font-size: 16px;
	}
	.price {
		padding-bottom: 7px;
		.pr-before {
			text-decoration: line-through;
			color: @color_4;
			font-size: 14px;
			margin-right: 5px;
		}
		.pr-after {
			color: @color_7;
			font-size: 18px;
			font-weight: bold;
		}
	}
}
footer {
	background: #252525;
	color: @color_8;
	padding: 40px 0;
	h4.spb_heading {
		span {
			background: #252525;
			padding: 0 10px;
			position: relative;
			display: inline-block;
			z-index: 1;
		}
	}
	.description {
		margin:0;
		padding:5px 0 0;
	}
}
ul.social-foot {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline;
		font-size: 30px;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}
ul.bank-foot {
	li {
		display: inline;
		font-size: 30px;
		margin-right: 10px;
		height: 20px;
		&:last-child {
			margin-right: 0;
		}
		img {
			height: 20px;
		}
	}
	list-style: none;
	margin: -5px 0 0;
	padding: 0;
}
ul.nav-foot {
	list-style: none;
	margin: 0px 0 0 0;
	padding: 5px 0 0 0;
	li {
		padding-bottom: 5px;
		border-bottom: 1px solid #333;
		margin-bottom: 5px;
		.link {
			float: right;
		}
	}
	a {
		li {
			color: @color_8;
			font-weight: 400;
		}
		&:hover {
			li {
				color: @color_10;
			}
		}
	}
}
.external-logo {
	float: left;
	margin-bottom: 10px;
	text-align: left;
	padding-top: 5px;
	.external-logo-title {
		font-size: 11px;
		font-weight: normal;
		line-height: 1.1em;
		display: block;
		float: left;
		width: 76px;
		height: 24px;
		margin-bottom: 0;
		text-transform: uppercase;
		color: #ccc;
	}
	.external-logo-lists {
		display: inline-block;
		margin-bottom: 0;
		.external-logo--list {
			display: block;
			i {
				font-size: 24px;
				margin-right: 10px;
				cursor: pointer;
			}
			img {
				height: 24px;
				margin-right: 5px;
				border-radius: 3px;
			}
		}
	}
}

.copyright {
	padding: 10px 0;
	background: #000000;
	color: @color_8;
	a {
		color: @color_8;
		&:hover {
			color: @color_10;
		}
	}
}
.product-list {
	margin-bottom: 30px;
	a {
		color: @color_4;
	}
	.pro-img {
		background-color: @background_color_7;
		position: relative;
		min-height: 300px;
		max-height: 300px;
		/*box-shadow: 0 7px 6px -7px #999;*/
		img {
			max-width: 100%;
			max-height: 300px;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}
		.pro-disc {
			background: #ff5020;
			color: @color_8;
			padding: 5px 5px 5px 10px;
			position: absolute;
			display: inline-block;
			top: 0;
			right: 0;
			z-index: 999;
			border-bottom-left-radius: 5px;
		}
	}
	.pro-caption {
		margin-top: 10px;
		.title {
			font-weight: bold;
			margin: 0 0 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.price {
			.before {
				text-decoration: line-through;
			}
			.after {
				color: @color_7;
				font-weight: bold;
			}
		}
	}
}
.product-detail {
	.pro-caption {
		.offer {
			.price {
				color: @color_7;
				font-weight: bold;
				font-size: 22px;
			}
			.price-before {
				font-size: 20px;
				text-decoration: line-through;
			}
			.price-after {
				color: @color_7;
				font-weight: bold;
				font-size: 24px;
			}
		}
		.offer-detail {
			margin-top: 15px;
			font-size: 14px;
		}
		.description {
			.title {
				color: @color_11;
				font-weight: 500;
				margin-bottom: 15px;
			}
			.content {
				font-size: 14px;
				line-height: 17pt;
			}
			.aditional {
				margin-bottom: 0;
				.list-group-item {
					font-weight: 400;
					font-size: 14px;
					padding: 10px 0;
					border-right: none;
					border-left: none;
					>.info {
						font-weight: 300;
						float: right;
					}
					&:first-child {
						border-top: none;
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
	.share-product {
		i.fa {
			cursor: pointer;
			font-size: 24px;
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.well-cart-sm {
		background-color: #e4e4e4;
		margin: 0 0 20px;
		border-radius: 2px;
		label {
			width:100%;
			padding:10px 19px;
			margin:0;
			cursor:pointer;
		}
		#cartTable {
			color: #555;
		}
	}
	.well-cart-lg {
		well {
			background-color: #e4e4e4;
			color: #555;
		}
	}
	.separator15 {
		margin: 5px 0 15px;
	}
	well {
		border-radius: 2px;
	}
}
.product-description {
	.title {
		color: @color_11;
		font-weight: 500;
		margin-bottom: 15px;
	}
	.content {
		font-size: 14px;
		line-height: 17pt;
	}
}
.modalCartConfirm {
	.modal-dialog {
		width: 400px;
		.modal-content {
			border-radius: 2px;
			box-shadow: none;
		}
	}
	.modal-header {
		padding: 10px 15px;
		.close {
			margin-top: 2px;
		}
	}
	.modal-body {
		label {
			font-weight: 300;
			color: @color_12;
		}
		.product-name {
			font-size: 14px;
		}
		.product-price {
			padding: 9px 0;
			font-size: 16px;
			font-weight: 500;
		}
		textarea {
			min-height: 100px;
			border-radius: 2px;
			&:focus {
				outline: none;
				border-color: @border_color_1;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}
		input {
			&:focus {
				outline: none;
				border-color: @border_color_1;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}
	}
	.modal-footer {
		text-align: center;
		.btn {
			width: 100%;
		}
	}
}


.fotorama__wrap {
	margin: 0 auto !important;
}
.fotorama__stage__frame.fotorama__active {
	background-color: #E9E9E9;
}
.alert {
	padding: 15px 20px;
}
.alert a {
	font-weight: 500;
}



table.cart-checkout {
	tr {
		display: inline-block;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #DDD; 
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
	td.w-img {
		width: 12%;
		img {
			width:100%;
			border:1px solid #CCC;
		}
	}
	td.w-det {
		width: 70%;
		padding:0 15px;
		font-size: @font_size_12;
		.w-tit {
			font-size: 16px;
		}
		span.action {
			cursor: pointer;
		}
	}
	td.w-prc {
		width: 18%;
		font-size:14px;
		text-align:right;
	}
}




div.orSepat {
	font-weight: 400;
	font-size: 11px;
	text-align: center;
	position: relative;
	margin: 7px 0;
	&:before {
		content: "";
		display: block;
		border-top: 1px solid #aaa;
		width: 100%;
		height: 2px;
		position: absolute;
		top: 50%;
		z-index: 1;
	}
	span {
		background: #fff;
		color: @color_6;
		padding: 0 10px;
		position: relative;
		display: inline-block;
		z-index: 1;
	}
}
.spinner {
	width: 100%;
	padding: 3px 5px;
	margin-right: 5px;
	border-radius: 2px;
	background: #F7F7F7;
	input {
		text-align: right;
		background: #F7F7F7;
		border: none;
		box-shadow: none;
		border-radius: 2px;
		padding: 5px;
	}
}
.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
	>.btn {
		display: block;
		float: none;
		width: 100%;
		max-width: 100%;
		padding: 8px 12px;
		margin-left: -1px;
		position: relative;
		border-radius: 0;
		border: 1px solid #F7F7F7;
		background: #F7F7F7;
		&:first-child {
			border-top-right-radius: 2px;
		}
		&:last-child {
			margin-top: -2px;
			border-bottom-right-radius: 2px;
		}
	}
	i {
		position: absolute;
		top: 3px;
		left: 7px;
		font-size: 10px;
		color: @color_11;
	}
}
.alert {
	border-radius: 2px;
	padding: 10px 15px;
}
.lSAction {
	>a {
		width: 28px;
		display: block;
		top: 45%;
		height: 30px;
		background-image: none;
	}
	>.lSNext {
		background-image: url('img/showcase-nav.png');
		width: 36px;
		height: 36px;
		background-position: 36px;
	}
	>.lSPrev {
		background-image: url('img/showcase-nav.png');
		width: 36px;
		height: 36px;
		background-position: 0;
	}
}
.owl-carousel {
	.res-img {
		background-color: @background_color_7;
		position: relative;
		min-height: 250px;
		max-height: 250px;
		.pro-disc {
			background: #ff5020;
			color: @color_8;
			padding: 5px 5px 5px 10px;
			position: absolute;
			display: inline-block;
			top: 0;
			right: 0;
			z-index: 999;
			border-bottom-left-radius: 5px;
		}
		img {
			width: auto !important;
			max-width: 100%;
			max-height: 250px;
			margin: auto;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}
	}
	.product-caption {
		strong {
			font-size: 14px;
		}
		margin-top: 10px;
	}
}
a.product-caption {
	color: @color_4;
}
.checkout-wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: @background_color_8;
}
.checkout {
	background-color: @background_color_2;
	border: 0;
	font-size: 14px;
}
.panel {
	margin-bottom: 0px;
}
.checkout-step {
	border-top: 1px solid #f2f2f2;
	color: @color_2;
	font-size: 14px;
	padding: 30px;
	position: relative;
}
.checkout-step-number {
	border-radius: 50%;
	border: 1px solid #666;
	display: inline-block;
	font-size: 12px;
	height: 32px;
	margin-right: 26px;
	padding: 6px;
	text-align: center;
	width: 32px;
}
.checkout-step-title {
	font-size: 18px;
	font-weight: 400;
	vertical-align: middle;
	display: inline-block;
	margin: 0px;
}
.checout-address-step {
	.form-group {
		margin-bottom: 18px;
		display: inline-block;
		width: 100%;
	}
}
.checkout-step-body {
	padding-left: 0;
	padding-top: 20px;
}
.checkout-step-active {
	display: block;
}
.checkout-step-disabled {
	display: none;
}
.login-phone {
	display: inline-block;
	&:after {
		content: '+91 - ';
		font-size: 14px;
		left: 36px;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	&:before {
		content: "";
		font-style: normal;
		color: @color_4;
		font-size: 18px;
		left: 12px;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.form-control {
		padding-left: 68px;
		font-size: 14px;
	}
}
.checkout-login {
	.btn {
		height: 42px;
		line-height: 1.8;
	}
}
.otp-verifaction {
	margin-top: 30px;
}
.checkout-sidebar {
	background-color: @background_color_2;
	border: 1px solid #eaefe9;
	padding: 30px;
	margin-bottom: 30px;
}
.checkout-sidebar-merchant-box {
	background-color: @background_color_2;
	border: 1px solid #eaefe9;
	margin-bottom: 30px;
}
.checkout-total {
	border-bottom: 1px solid #eaefe9;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.checkout-invoice {
	display: inline-block;
	width: 100%;
}
.checout-invoice-title {
	float: left;
	color: @color_13;
}
.checout-invoice-price {
	float: right;
	color: @color_13;
}
.checkout-charges {
	display: inline-block;
	width: 100%;
}
.checout-charges-title {
	float: left;
}
.checout-charges-price {
	float: right;
}
.charges-free {
	color: @color_14;
	font-weight: 600;
}
.checkout-payable {
	display: inline-block;
	width: 100%;
	color: @color_4;
}
.checkout-payable-title {
	float: left;
}
.checkout-payable-price {
	float: right;
}
.checkout-cart-merchant-box {
	padding: 20px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #eaefe9;
	padding-bottom: 20px;
}
.checkout-cart-merchant-name {
	color: @color_13;
	float: left;
}
.checkout-cart-merchant-item {
	float: right;
	color: @color_13;
}
.checkout-cart-products {
	.checkout-charges {
		padding: 10px 20px;
		color: @color_4;
	}
}
.checkout-cart-item {
	border-bottom: 1px solid #eaefe9;
	box-sizing: border-box;
	display: table;
	font-size: 12px;
	padding: 22px 20px;
	width: 100%;
}
.checkout-item-count {
	float: left;
}
.checkout-item-img {
	width: 60px;
	float: left;
}
.checkout-item-name-box {
	float: left;
}
.checkout-item-title {
	color: @color_13;
	font-size: 14px;
}
.checkout-item-price {
	float: right;
	color: @color_13;
	font-size: 14px;
	font-weight: 600;
}
.checkout-viewmore-btn {
	padding: 10px;
	text-align: center;
}
.header-checkout-item {
	text-align: right;
	padding-top: 20px;
}
.checkout-promise-item {
	background-repeat: no-repeat;
	background-size: 14px;
	display: inline-block;
	margin-left: 20px;
	padding-left: 24px;
	color: @color_13;
	i {
		padding-right: 10px;
		color: @color_14;
	}
}
.form-input-track {
	width: 40%;
	margin: 0 auto;
}
table.tb-pricing {
	width: 100%;
	padding: 0 15px;
	tbody {
		font-size: 14px;
		tr {
			td.st-title {
				padding-left: 1.4em;
			}
			td.st-price {
				text-align: right;
				font-weight: 400;
				padding-right: 1.4em;
			}
			td.bk-title {
				padding: 0.5em 0 1em 1.4em;
			}
			td.bk-price {
				text-align: right;
				font-weight: 400;
				padding: 0.5em 1.4em 1em 0;
			}
		}
	}
	tfoot {
		font-size: 16px;
		border-top: 1px solid #CCC;
		td.tp-title {
			padding: 1em 0 0 1.2em;
			font-weight: 500;
		}
		td.tp-price {
			text-align: right;
			font-weight: 500;
			padding: 1em 1.2em 0 0;
			color: @color_15;
		}
	}
}
a {
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}
.marginR3 {
	margin-right: 3px;
}
.marginR7 {
	margin-right: 7px;
}
.space10 {
	margin: 10px 0;
}
.space20 {
	margin: 20px 0;
}
.space30 {
	margin: 30px 0;
}
.space40 {
	margin: 40px 0;
}
.space50 {
	margin: 50px 0;
}
.space70 {
	margin: 70px 0;
}
.space100 {
	margin: 100px 0;
}
.font11 {
	font-size: 11px;
}
.font12 {
	font-size: 12px;
}
.font14 {
	font-size: 14px;
}
.font16 {
	font-size: 16px;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.badge.cart-count {
	padding: 3px 10px;
	font-weight: 500;
	background-color: @background_color_9;
}
.featured-promo {
	text-align: center;
	p {
		margin: 0;
	}
}
.btn-nowidth {
	min-width: 0 !important;
}
.btn-main {
	font-family: @font_asap;
	text-transform: uppercase;
	background-color: @background_color_1;
	color: @color_8;
	border-radius: 2px;
	min-width: 170px;
	font-size: 14px;
	i {
		margin-right: 10px;
	}
	i.right {
		margin-left: 10px;
		margin-right: 0 !important;
	}
	&:hover {
		background-color: @background_color_10;
		color: @color_8;
	}
	&:focus {
		background-color: @background_color_10;
		color: @color_8;
	}
}
.btn-wow {
	font-family: @font_asap;
	text-transform: uppercase;
	background-color: @background_color_11;
	color: @color_8;
	border-radius: 2px;
	min-width: 170px;
	font-size: 14px;
	i {
		color: @color_16;
		margin-right: 10px;
	}
	i.right {
		margin-left: 10px;
		margin-right: 0 !important;
	}
	&:hover {
		background-color: @background_color_12;
		color: @color_8;
	}
	&:focus {
		background-color: @background_color_12;
		color: @color_8;
	}
}
.btn-whatsapp {
	font-family: @font_asap;
	text-transform: uppercase;
	background-color: @background_color_13;
	color: @color_8;
	border-radius: 2px;
	min-width: 170px;
	font-size: 14px;
	i {
		margin-right: 10px;
	}
	&:hover {
		background-color: @background_color_14;
		color: @color_8;
	}
	&:focus {
		background-color: @background_color_14;
		color: @color_8;
	}
}
.btn-bbm {
	font-family: @font_asap;
	text-transform: uppercase;
	background-color: @background_color_13;
	color: @color_8;
	border-radius: 2px;
	min-width: 170px;
	font-size: 14px;
	i {
		margin-right: 10px;
	}
	&:hover {
		background-color: @background_color_14;
		color: @color_8;
	}
	&:focus {
		background-color: @background_color_14;
		color: @color_8;
	}
}
@media (max-width: 321px) {
	.product-list {
		.pro-img {
			min-height: 150px !important;
			max-height: 150px !important;
			img {
				max-width: 100%;
				max-height: 150px !important;
			}
		}
		.pro-caption {
			.price {
				.before {
					display: none;
				}
				font-size: 11px !important;
			}
			.title {
				font-size: 11px !important;
			}
		}
	}
	table.cart-checkout {
		td.w-det {
			.w-tit {
				font-size: 12px !important;
			}
		}
	}
}
@media (min-width: 320px) {
	.modalCartConfirm {
		.modal-dialog {
			width: 300px;
			margin: 10px auto;
		}
	}
}
@media (min-width: 375px) {
	.modalCartConfirm {
		.modal-dialog {
			width: 346px;
			margin: 10px auto;
		}
	}
}
@media (max-width: 376px) {
	table.tb-pricing {
		tbody {
			font-size: @font_size_13;
			tr {
				td.st-title {
					padding-left: 1.2em;
				}
				td.st-price {
					padding-right: 1.2em;
				}
				td.bk-title {
					padding: 0.5em 0 1em 1.2em;
				}
				td.bk-price {
					padding: 0.5em 1.2em 1em 0;
				}
			}
		}
		tfoot {
			font-size: @font_size_13;
		}
	}
}
@media (max-width: 426px) {
	h1.entry-title {
		font-size: 18px;
	}
	.modalCartConfirm {
		.modal-body {
			label {
				font-size: 10px;
			}
		}
	}
	.top-nav {
		padding: 10px 0;
	}
	.navbar-form {
		border-top: none;
	}
	.form-input-track {
		width: 100% !important;
	}
	.product-list {
		.pro-img {
			min-height: 200px;
			max-height: 200px;
			img {
				max-width: 100%;
				max-height: 200px;
			}
		}
		.pro-caption {
			.title {
				font-size: 12px;
			}
			.price {
				font-size: 12px;
			}
		}
	}
	table.cart-checkout {
		td.w-det {
			.w-tit {
				font-size: 14px;
			}
		}
	}
	.product-detail {
		.pro-caption {
			.offer {
				.price {
					font-size: 22px;
				}
				.price-before {
					font-size: 18px;
				}
				.price-after {
					font-size: 22px;
				}
			}
		}
	}
	.owl-carousel {
		.res-img {
			min-height: 170px;
			max-height: 170px;
			img {
				max-height: 170px;
			}
		}
	}
}
@media (min-width: 425px) {
	.modalCartConfirm {
		.modal-dialog {
			width: 400px;
			margin: 10px auto;
		}
	}
}
@media (max-width: 768px) {
	body {
		margin-bottom: 40px;
	}
	#breadcrumbs {
		display: none;
	}
	.top-nav {
		.small-logo {
			text-align: center !important;
		}
		.small-menu {
			text-align: center !important;
		}
	}
	.head-result-count {
		margin-bottom: 15px;
		text-align: center;
	}
	.btn-main {
		min-width: 100%;
	}
	.form-input-track {
		width: 80%;
	}
	.external-logo {
		float: none;
		text-align: center;
		.external-logo-title {
			float: none;
			width: 100%;
		}
		.external-logo-lists {
			display: inline-block;
			margin-bottom: 0;
			padding: 0;
		}
	}
}
@media (min-width: 768px) {
	.form-horizontal {
		.control-label {
			text-align: left;
		}
	}
	.navbar {
		border-radius: 0;
	}
	.navbar-collapse {
		padding: 0;
	}
	.navbar-right {
		.dropdown-cart {
			right: -1px;
			left: auto;
			margin-top: 1px !important;
			border-top: 1px;
		}
	}
	.nav-cart {
		border-right: 1px solid #dedede;
	}
	.head-result-count {
		margin-top: 7px;
	}
	.product-list {
		.pro-caption {
			.title {
				font-size: 14px;
			}
			.price {
				font-size: 14px;
			}
		}
	}
}